@font-face {
    font-family: 'MinhaFonte';
    src: url('../Fonts/HelveticaUltraLt_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .container {
    font-family: 'MinhaFonte', sans-serif;
  }
  
  .texto {
    font-size: 16px;
  }